.winner {
  display: flex;
  justify-content: center;
}

.winner span {
  display: inline-block;
  margin: 0 10px;
  height: 15px;
  width: 15px;
}

.winner > div:first-child span {
  background-color: red;
}

.winner > div:nth-child(2) span {
  background-color: blue;
}

.winner > div:last-child span {
  background-color: green;
}
